In [106]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
import warnings as wr # for Handle Error 
from sklearn.model_selection import train_test_split # for Data Separation
from sklearn.tree import DecisionTreeClassifier

In [130]:
df = pd.read_csv('Data.csv')

# Deleting the Missing value
# print(df.isnull().sum())
# df = df.dropna(axis=0)
# print(df.isnull().sum())

#Replacing with the mean
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())

# Handling the Missing Data

In [131]:
le=LabelEncoder()
wr.filterwarnings('ignore')
for col in df.columns:
    if df[col].dtype==np.number:
        continue
    df[col]=le.fit_transform(df[col])
df

   Country        Age        Salary  Purchased
0        0  44.000000  72000.000000          0
1        2  27.000000  48000.000000          1
2        1  30.000000  54000.000000          0
3        2  38.000000  61000.000000          0
4        1  40.000000  63777.777778          1
5        0  35.000000  58000.000000          1
6        2  38.777778  52000.000000          0
7        0  48.000000  79000.000000          1
8        1  50.000000  83000.000000          0
9        0  37.000000  67000.000000          1

In [132]:
y=df['Purchased'] # Store Weight Data On Y
x=df.drop('Purchased',axis=1)
x_new=pd.get_dummies(x,columns=['Country'],dtype=np.int32,drop_first=False)
xTrain,xTest,yTrain,yTest=train_test_split(x_new,y,random_state=42,test_size=0.20)
reg=DecisionTreeClassifier()
reg.fit(xTrain,yTrain) 
# 
# xTrain
print(reg.score(xTest,yTest))
print(reg.predict(xTest))
print(yTest)

0.0
[1 0]
8    0
1    1
Name: Purchased, dtype: int32

In [110]:
# from sklearn.model_selection import train_test_split
# X_train,X_test,y_train,y_test = train_test_split(df.iloc[:,0:3],df.iloc[:,-1],test_size=0.2,random_state=2)
# ohe = OneHotEncoder(sparse=False,dtype=np.int32)
# X_train.head()
# dummy1=pd.get_dummies(df.Purchased,drop_first=True,prefix='Sex 0/1')
# dummy1.head()
# from sklearn.impute import SimpleImputer
# simp = SimpleImputer(missing_values = 'NaN', strategy = 'mean')
# simp = SimpleImputer().fit(X[:, 1:3])
# X[:, 1:3] = simp.transform(X[:, 1:3])
# # imputer = SimpleImputer(missing_values = "NaN", strategy = "mean", axis = 0)
# X

In [80]:
X_train_new = ohe.fit_transform(X_train[['Country']])
X_test_new = ohe.transform(X_test[['Country']])
X_train_new
# data=np.hstack((X_train[['Country']].values,X_train_new))
# data

array([[0, 1, 0],
       [0, 1, 0],
       [0, 0, 1],
       [1, 0, 0],
       [1, 0, 0],
       [1, 0, 0]])

In [41]:

from sklearn.compose import ColumnTransformer
labelencoder_X = LabelEncoder()
X[:,0] = labelencoder_X.fit_transform(X[:,0])
onehotencoder = ColumnTransformer([("Country", OneHotEncoder(), [0])], remainder = "passthrough")
X = onehotencoder.fit_transform(X)
labelencoder_y = LabelEncoder()
Y = labelencoder_y.fit_transform(y)

In [42]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split( X , Y , test_size = 0.2, random_state = 0)

array([[0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 40.0, nan],
       [1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 37.0, 67000.0],
       [0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 27.0, 48000.0],
       [0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, nan, 52000.0],
       [1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 48.0, 79000.0],
       [0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 1.0, 38.0, 61000.0],
       [1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 44.0, 72000.0],
       [1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 1.0, 0.0, 0.0, 35.0, 58000.0]],
      dtype=object)